body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.a {
  background-color: red;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* z-index: 2; */
}
.b {
  background-color: blue;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.c {
  background-color: pink;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
